h1 {
    color: rgb(212, 81, 21);
}
h2{
    color: rgb(212, 81, 21)
    color: rgb(212, 81, 21);
}
h4 {
    color: rgb(212, 81, 21);
}

body {
    background-color: turquoise; 
    text-align: center;
}
tabela.png {
    width: 40%;
}
.imagemcentralizada {
 text-align: center;
}
